<ng-template #bonus>
<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4" *ngFor="let item of bonuses">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{item.bname}}</h5>
          <p class="card-text">{{item.bdescription}}</p>
        </div>
        <a routerLink="/company" routerLinkActive="active">
          <div class="card-footer bg-transparent">{{item.bsum}}</div>
        </a>
      </div>
  </div>
</div>
</ng-template>

<ng-template *ngIf="!bonuses else bonus">
  <h1>Бонусов няма</h1>
  <!-- <div class="select-room h-100 w-100 d-flex justify-content-center align-items-center">
    <div class="select-room-message">
      Бонусов нет
    </div>
  </div> -->
</ng-template>
