<app-navbar></app-navbar>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Тип кредита</th>
        <th scope="col">Срок</th>
        <th scope="col">Сумма</th>
        <th scope="col">Детали</th>
        <th scope="col">Процентная ставка</th>
      </tr>
    </thead> 
    <tbody> 
      <tr *ngFor="let item of users; index as i;">
        <th scope="row">{{i+1}}</th>
        <td>{{item.name}}</td>
        <td>{{item.type}}</td>
        <td>{{item.date}}</td>
        <td>{{item.sum}}</td>
        <td>{{item.details}}</td>
        <td>{{item.procent}}% годовых</td>
      </tr>
    </tbody>
  </table>
<router-outlet></router-outlet>